<h2><%= @album.title %></h2>
<p>
  <%= link_to "<< #{@album.band.name}", band_url(@album.band) %>
</p>

<h3>Tracks</h3>

<ul>
  <%= render @tracks %>
</ul>

<h3>Options</h3>

<ul>
  <li><%= link_to "Add a track", new_album_track_url(@album) %></li>
  <li><%= link_to "Edit album", edit_album_url(@album) %></li>
  <li><%= link_to "Delete album", album_url, method: :delete %></li>
</ul>
