<% method = track.persisted? ? "patch" : "post" %>
<% action = track.persisted? ? track_url(track) : tracks_url %>

<form action="<%= action %>" method="post">
  <%= auth_token %>

  <% if method == "patch" %>
    <input type="hidden" name="_method" value="patch">
  <% end %>

  <label>Track title:
    <input type="text" name="track[title]" value=<%= track.title %>>
  </label>

  <br/><br/>

  <label>Select an album:
    <select name="track[album_id]">
      <% Album.all.each do |album| %>
        <% album_id = track.persisted? ? track.album_id : params[:album_id].to_i %>
        <option value="<%= album.id %>" <%= "selected" if album.id == album_id %>>
          <%= album.title %>
        </option>
      <% end %>
    </select>
  </label>

  <br/><br/>

  <label>Track type:
    <input type="radio" name="track[track_type]" value="regular"
      <%= "checked" if track.track_type == "regular" %>>Regular
    <input type="radio" name="track[track_type]" value="bonus"
      <%= "checked" if track.track_type == "bonus" %>>Bonus
  </label>

  <br/><br/>

  <label>Lyrics:
    <br/>
    <textarea name="track[lyrics]" rows="30" cols="70"><%= track.lyrics %></textarea>
  </label>

  <br/><br/>

  <input type="submit" value="Submit">
</form>
