<h2><%= @track.title %></h2>
<p>
  <%= link_to "<< #{@track.album.title}", album_url(@track.album) %>
</p>

<h3>Lyrics</h3>

<%= ugly_lyrics(@track.lyrics) %>

<h3>New Note</h3>

<%= render "notes/form" %>

<h3>Note</h3>

<%= render @notes %>

<h3>Options</h3>

<ul>
  <li><%= link_to "Edit track", edit_track_url(@track) %></li>
  <li><%= link_to "Delete track", track_url, method: :delete %></li>
</ul>
