<!DOCTYPE html>
<html>
<head>
  <title>BenchBNB</title>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAASbYmxLpTqj_i-hSbRS87GK0B_xcCu_M" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
