<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCatsDay1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
    <h1>Hey <%= current_user.user_name %></h1>
    <%= button_to 'logout', session_url, method: :delete %>
  <% else %>
    <%= button_to 'login', new_session_url, method: 'get' %>
  <% end %>
  <%= yield %>

</body>

<footer>
  This is our 99 Cats site. Please feel free to browse!

  <%= yield :footer %>
</footer>
</html>
