<!DOCTYPE html>
<html>
<head>
  <title>Reddit</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <li> <%= error %></li>
    <% end %>
  <% end %>
</ul>

<% if current_user %>
  <span>Logged in as: <%= current_user.email %></span>
  <br><br>
  <%= button_to "Logout", session_url, method: :delete %>
  <span>
    ------------------------------
  </span>
<% end %>
<br>

<%= yield %>

</body>
</html>
